{% extends "base.html.twig" %}
{% block body %}
    <h1>Bienvenue dans mon Blog !</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe tempore doloremque commodi quos maiores possimus dolor voluptas, culpa ut alias delectus cumque minus rerum quo nesciunt at perspiciatis quod repellat facilis ducimus praesentium eligendi. Consectetur maiores quas exercitationem beatae! Magnam.</p>
    <p>Obcaecati sit tenetur, quis eaque aliquam quos unde ratione veritatis, itaque quas accusamus quibusdam aut voluptatum modi qui cumque eos placeat autem natus inventore corporis hic odio. Quia, nostrum porro a optio enim dignissimos aut? Nulla molestias at dolor doloremque?</p>

{% endblock %}